- con_inscripciones = @object.grado&.inscripciones&.any?
.p-3
    = link_to "/admin/student/#{@object.student_id}", 'data-bs-toggle': :tooltip, title: 'Volver el detalle del estudiante', class: 'btn btn-info float-start' do
        %i.fa-solid.fa-chevron-left

    %h5.bg-light.text-center.p-2.mb-3=@object.name 