#imageMain{
	background-image: url('banner_sign_in.png');
	background-position: center center;
	background-size: auto auto;
	background-repeat: no-repeat;
}

.xx-small {font-size: xx-small;}

.headers {
	position: sticky;
	top:0;
	background-color: #F4F4F4;
}